@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .typo-title-hero {
    @apply text-7xl font-extrabold text-[#303030] leading-[1.2];
  }

  .typo-title-section {
    @apply text-5xl font-semibold text-[#303030] leading-[1.2];
  }

  .typo-label-section {
    @apply uppercase text-primary-main font-semibold;
  }

  .typo-title-md {
    @apply text-2xl font-semibold text-[#303030];
  }

  .typo-detail-hero {
    @apply text-base font-semibold text-[#878787];
  }
}
